body {
    font-family: 'Open Sans', sans-serif;        
}

#coin-option-container #coin-option-list {
    list-style-type: none;
    padding-left: 0;    
}

#coin-option-container #coin-entry {
    margin: 10px;
}