body {
    font-family: 'Open Sans', sans-serif;        
}

#coin-option-container #coin-option-list {
    list-style-type: none;
    padding-left: 0;    
}

#coin-option-container #coin-entry {
    margin: 5px;
    padding: 8px;
}

#coin-option-container #coin-entry:hover {
    background: #F2F2F2;
}

#coin-option-container #coin-entry input{
    margin-right: 5px;
}