body {
    font-family: 'Open Sans', sans-serif;        
}

#coin-option-container #coin-option-list {
    list-style-type: none;
    padding-left: 0;    
}

#coin-option-container #coin-entry {
    margin: 5px;
    padding: 8px;
}

#coin-option-container #coin-entry:hover {
    background: #F2F2F2;
}

#coin-entry p {
    width: 20px;
    display: inline
}

#coin-entry input {
    margin-right: 10px;
}

#coin-entry .input-user-coin-amount{
    margin-left: 10px;
    display: none;
}

